



<form class="form" action="/login" method="POST">
<fieldset class="fd">
     <legend>Please Login</legend>


<label for="Email">EMAIL</label>
<input id="Email" name="Email" type="email" value="{{ok.email}}" placeholder="Email" >
<div class="err">{{error.email}}</div>

<label for="pwd">PASSWORD</label>
<input id="pwd" name="pwd" type="password" placeholder="Password" >
<div class="err">{{error.password}}</div>

<div id="button">
<input class="btn" type="submit" value="LOGIN">
<button class="btn"><a href="/signup">SIGNUP</a></button> 
    
</div>
</fieldset>
 </form>
