html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(110, 106, 114);
    background: url(/img/bk.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100vw;
    height: 20vh;
    background-color:#363636;
    display: flex;
    flex-direction:row;

}
header>img{
    height: 100%;
}
nav {
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color:#363636;
    display: flex;
    flex-direction:row;
    justify-content:center;
}

nav>a{
    margin:1.5em;
    text-decoration: none;
    font-size: 1.3em;
    font-family: "Cinzel", serif;
    color: #fffff0;
}
nav>a:hover,
nav>a:active {
    font-weight: bold;
}

#pTitle{
    font-family: "Cinzel", serif;
    position:static;
    color:wheat;
    text-align: center;
    font-weight:bold;

}
footer{
    width:100%;
    height: 125px;
    background-color: #363636;
    font-family: "Cinzel", serif;
    color: #fffff0;
    position: static;
    bottom: 0;
    
}

.form {
    background: rgba(243, 243, 245, 0.9);
    position: static;
    width: auto;
    margin: 5% 25%;
    box-shadow: 3px 3px 8px #a0a1a7;
    font-family: "Cinzel", serif;
    font-size: 1em;
    padding:2.5%;
    
}
.fd {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    overflow: auto;
    margin:2.5%;

}
.fd>legend{
    font-size: larger;
}
.fd>input{

    margin:0 2em;
    padding:1em;
    border: 0.5px solid rgb(48, 48, 48);
    border-radius: 2px;
    width: 80%;
    
}

#button{

    display:flex;
    flex-direction: row;
    justify-content:center;
}
.btn{
    width:30%;
    height:30%;
    margin:1em;
    border: 0.5px solid rgb(48, 48, 48);
    border-radius: 4px;
}
.btn>a{
    text-decoration: none;
}
.err{
    color:red;
    font-weight: bold;
    font-size: 0.7em;
}


.msg{
    font-weight:bolder;
    font-size: 2.4em;
    color: rgb(37, 37, 37);
    position: sticky;
    position: -webkit-sticky;
    margin:13% 25%;
    margin:18% 0;
    text-align: center;
}

#promo{
    height:25vh;
    width:100%;
    margin:2em 0;
    background-color: #363636;
    display: flex;
    flex-direction: row;
}
#promo>img{
    float:left;
    -webkit-mask-image:linear-gradient(0.25turn,#363636, transparent);
    mask-image: linear-gradient(0.25turn,#363636, transparent);
}


#promo>h1{
    float:right;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    animation-name: promo;
    animation-duration: 8s;
}
@keyframes promo {
    0% {
        color: #363636;
    }
    100% {
        color: white;    
    }
}
#cat{
    height:auto;
    width:auto;
    margin:1em;
    background-color: rgba(221, 214, 214, 0.7);
}

#best{
    height:auto;
    width:100%;
    margin:0;
    background-color: rgba(221, 214, 214, 0.7);
    padding: 0;
    text-align: center;
}
#showBest{
    height:90%;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: space-evenly;
    overflow:auto;
    font-family: "Cinzel", serif;
    text-align: center;   
}

.bPro{
    height:24vw;
    width:18vw;
}
.box{
    padding: 2em;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-family: "Cinzel", serif;
    text-align: center;
}

.cate,h4{
    font-family: "Cinzel", serif;
    text-align: center;   
}


#cak, #cho, #ice, #dri{
    height:26vw;
    width:19.5vw;
    padding:0;
    background-color: rgba(255,255,255, 0.9);
}

.catForm{
margin:0;
padding: 0;
height:26vw;
width:19.5vw;
}

.catForm>button{
    margin:0;
    padding:0;
}
.catForm>button:active,
.catForm>button:hover{
    -webkit-mask-image:linear-gradient(rgba(235, 235, 235,0.9), transparent);
    mask-image: linear-gradient(rgba(235, 235, 235,0.9), transparent);
}

#proPage{
    display:grid;
    grid-template-rows: 12% 3% 85%;
}

#cateBtn{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding:4px 20%;
}

.proCatBtn{
    width:90px;
    height: 90px;
    border:none;
    background-color: rgba(221, 214, 214, 0.8);
    border-radius: 45px;
    font-family: "Cinzel", serif;
    font-weight: bold;
}
.proCatBtn:active,
.proCatBtn:hover{
    background-color: rgb(142, 122, 153);
}

#pList{
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width:90%;
    margin:5%;
    padding:0;
    background-color: rgba(245, 243, 243, 0.9);
}

.product{
    text-align: center;
	display: table-cell;
    vertical-align: middle;
    font-family: "Cinzel", serif;
    padding:10px;
    border: 0.5px dotted rgba(221, 214, 214, 0.5);
}

.oform{
    height:10%;
}
.obtn{
   width: 90px;
   height:30px;
   background-color: rgba(243, 243, 245, 0.9);
   border: 0.5px solid rgb(140, 140,140);
   border-radius: 2px;

}
.obtn:hover,
.obtn:active{
    
    background-color: rgb(130, 125, 161);
}

.pName{
    font-size: 1.2em;
    font-weight: bold;
}


.bestForm:active,
.bestForm:hover{
    mask-image: linear-gradient(white, rgba(255, 255, 255, 0.4));
    -webkit-mask-image:linear-gradient(white, rgba(255, 255, 255, 0.4));
}

#sucMain{
    background: rgba(243, 243, 245, 0.9);
    position: static;
    width: auto;
    margin: 5% 25%;
    box-shadow: 3px 3px 8px #a0a1a7;
    font-family: "Cinzel", serif;
    font-size: 1em;
    padding:2.5%;
}
#user{
    margin: 0.5em 0;
    background-color:#363636;
    color:rgb(235, 235, 235);
    font-family: "Cinzel", serif;
    font-size: small;
    display: grid;
    grid-template-columns: 50% 50%;
}
#user>#order{
    text-align: end;
}
@media screen and (max-device-width: 800px)and (min-device-width: 500px){
     #promo>h1{ 
        font-size: 1em;
    }
}

@media screen and (max-device-width: 500px) {
    #promo>img{
        display:none;
    }
   
    nav {
        height: 10vh; 
        padding: 12% 0 0 0;
    }
    nav>a{
        margin:0.5em;
        font-size: 0.8em; 
    }

    

    #proPage{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(20,1fr);
    }
    #cateBtn{
        grid-column: 1/2;
        grid-row: 1/6;
        display: flex;
        flex-direction:column;
    }
    #pTitle{
        grid-column: 2/4;
        grid-row: 1/2;
    }
    #pList{
        grid-column: 2/4;
        grid-row: 2/21;
        
        display:grid;
        grid-template-columns: 90%;
        width:90%;
        margin:5%;
        padding:0;
        background-color: rgba(245, 243, 243, 0.9);
    }

    .form {   
        margin: 5% 10%;     
    }

    #sucMain{
        margin: 5% 10%;
    }

    .cate,h4{
        font-size: smaller; 
        margin: 1%;
    }
}



